<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vanyne.reservation.infrastruction.repository.db.mapper.ReservationInfoMapper">
    <resultMap id="BaseResultMap"
               type="com.vanyne.reservation.infrastruction.repository.db.entity.ReservationInfoEntity">
        <!--@mbg.generated-->
        <!--@Table t_reservation_info-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="room_id" jdbcType="VARCHAR" property="roomId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        r.id, r.room_id, r.user_id, r.start_time, r.end_time, r.create_time, r.update_time
    </sql>
    <select id="getReservationsByPage"
            resultType="com.vanyne.reservation.infrastruction.repository.db.dto.ReservationInfoDto">
        select
        <include refid="Base_Column_List"/>
        ,u.user_name, m.room_name
        from t_reservation_info r
        left join t_meet_room_info m on r.room_id = m.room_id
        left join t_user_info u on r.user_id = u.user_id
        <if test="reservationInfoQo != null">
            <where>
                <if test="reservationInfoQo.roomName != null and reservationInfoQo.roomName !='' ">
                    m.room_name LIKE CONCAT(#{reservationInfoQo.roomName,jdbcType=VARCHAR}, '%')
                </if>
                <if test="reservationInfoQo.userName != null and reservationInfoQo.userName !='' ">
                    and u.user_name = #{reservationInfoQo.userName,jdbcType=VARCHAR}
                </if>
                <if test="reservationInfoQo.startTime != null">
                    <![CDATA[ and r.start_time >= #{reservationInfoQo.startTime,jdbcType=TIMESTAMP} ]]>
                </if>
                <if test="reservationInfoQo.endTime != null and reservationInfoQo.endTime !='' ">
                    <![CDATA[ and r.start_time <= #{reservationInfoQo.endTime,jdbcType=TIMESTAMP} ]]>
                </if>
            </where>
        </if>
    </select>
</mapper>